*{
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right,#ece9e6,#ffff);
    display:  flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    flex:.5;
    color: #ffff;
    transition: all 700ms ease-in;
    position: relative;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin: 0;
    opacity: 0;
    text-transform: capitalize;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity .3s ease-in .4s;
}
@media (max-width:480px) {
  .container{
      width: 100vw;
  }  
  .panel:nth-last-of-type(4),
  .panel:nth-last-of-type(5){
      display: none;
  }
}